@media only screen and (max-width: 1400px) {
    .lg-container {
        max-width: 1200px;
    }

    .news-slider {
        padding: 0px 40px;
    }

    .mega-menu .dropdown-menu {
        width: 700px;
        margin-left: -330px;
    }

    .mega-menu .dropdown-menu {
        padding: 40px;
    }

    .get-in-touch-section .mockup {
        height: 600px;
        right: 4%;
    }

}

@media only screen and (max-width: 1200px) {
    .lg-container {
        max-width: 1200px;
    }

    .breadcrumb h3 {
        font-size: 32px;
    }

    .news-slider {
        padding: 0px 40px;
    }

    .breadcrumb,
    .hero-section {
        padding: 200px 0px 60px;
    }

    .header {
        min-height: 70px;
        padding: 10px 20px;
    }

    .hero-section .content h1 {
        font-size: 65px;
        line-height: normal;
    }

    .hero-section .hero-body .banner-col,
    .hero-section .hero-body .content-col {
        width: 50%;
    }

    .about-us-section .about-content h3 {
        font-size: 26px;
        line-height: normal;
    }

    .center-heading h2,
    .support-section .content h2,
    .about-us-section .about-content h1,
    .live-streaming-section .content h2 {
        font-size: 42px;
        line-height: normal;
    }

    .get-in-touch-section .mockup {
        right: 2%;
        max-height: 500px;
    }

    .subscribe-section .subscribe-card .text h1 {
        font-size: 36px;
    }

    .subscribe-section .subscribe-card {
        padding: 60px 40px;
    }

}

@media only screen and (max-width: 991px) {
    .hero-section .hero-body {
        flex-direction: column;
    }

    .breadcrumb,
    .hero-section {
        padding: 180px 0px 40px;
    }

    .header .dropdown-menu {
        margin-left: 0px;
        width: 100%;
        padding: 10px 20px;
    }

    .header .navbar-nav .nav-link {
        padding: 10px 0px;
    }

    .header .dropdown-menu {
        margin-top: 0px;
    }

    .navbar-collapse {
        padding-bottom: 15px;
    }

    .hero-section .hero-body .banner-col,
    .hero-section .hero-body .content-col {
        width: 100%;
    }

    .hero-section .content h6,
    .hero-section .content p {
        max-width: 100%;
    }


    .support-section .banner,
    .about-us-section .banner,
    .live-streaming-section .banner,
    .hero-section .hero-body .banner-col .banner {
        max-width: 500px;
        margin: auto;
        padding-top: 40px;
    }

    .order1 {
        order: 2;
    }

    .order2 {
        order: 1;
    }

    .get-in-touch-section .mockup {
        display: none;
    }

    .footer-content .f-nav {
        margin-top: 30px;
    }

    .subscribe-section .subscribe-card {
        flex-direction: column;
    }

    .subscribe-section .subscribe-card .text h1 {
        max-width: 100%;
    }

    .subscribe-section .subscribe-card .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .subscribe-section .subscribe-card .send-email {
        width: 100%;
        max-width: 500px;
    }

    .about-us-section .about-content p {
        max-width: 100%;
    }

    .news-slider {
        padding: 0px 30px;
    }

    .about-us-section,
    .live-streaming-section,
    .support-section,
    .patents-section,
    .news-section,
    .get-in-touch-section {
        padding: 60px 0px;
    }

    .subscribe-section .subscribe-card form .send-email {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {

    .px-50 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .mega-menu .dropdown-menu .accordion {
        padding-right: 10px;
    }

    .mega-menu .dropdown-menu .accordion {
        max-height: 300px;
    }

    .header-row {
        padding-top: 20px;
    }

    .breadcrumb,
    .hero-section {
        padding: 120px 0px 40px;
    }

    .about-us-section,
    .live-streaming-section,
    .support-section,
    .patents-section,
    .news-section,
    .get-in-touch-section {
        padding: 60px 0px;
    }


    .header {
        min-height: auto;
        border-radius: 20px !important;
        padding: 0px 10px !important;
    }

    .hero-section .content h1 {
        font-size: 52px;
        margin-bottom: 15px;
    }

    .hero-section .content h6 {
        font-size: 18px;
    }

    .get-in-touch-section .form-card h2,
    .center-heading h2,
    .support-section .content h2,
    .about-us-section .about-content h1,
    .live-streaming-section .content h2 {
        font-size: 36px;
    }

    .about-us-section .about-content h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px !important;
    }

    .accordion-item .accordion-button {
        // padding-left: 0px;
        font-size: 16px !important;
    }

    .dropdown-menu,
    .header {
        box-shadow: inset 1px 3px 2px rgba(255, 255, 255, 0.3), inset -1px 0px 2px #FFFFFF, inset 0px 0px 14px rgba(255, 255, 255, 0.3);
        padding: 10px 20px;
        min-height: auto;
        background: radial-gradient(69.48% 69.48% at 49.72% 37.74%, #2560B5 0%, #102A4F 100%);
    }

    .header .navbar-brand .logo {
        height: 35px;
    }

    .header-row.active .dropdown-menu {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 500px) {
    .header {
        border-radius: 20px;
    }

    .hero-section .content {
        padding: 0px;
    }

    .hero-section .content h1 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .hero-section .content h1 span {
        font-size: 12px;
    }

    .get-in-touch-section .form-card h2,
    .center-heading h2,
    .support-section .content h2,
    .about-us-section .about-content h1,
    .live-streaming-section .content h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .support-section .content h6,
    .live-streaming-section .content h6 {
        font-size: 22px;
    }

    .about-us-section .about-content h3 {
        margin-bottom: 15px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span,
    b {
        line-height: normal;
    }

    .center-heading {
        margin-bottom: 20px;
    }

    .patents-section .accordion-body {
        padding: 0px 0px 20px;
        font-size: 14px;
    }

    .news-slider {
        padding: 0px 20px;
    }

    .news-section .owl-nav .owl-prev {
        margin-left: -20px !important;
    }

    .news-section .owl-nav .owl-next {
        margin-right: -20px !important;
    }

    .get-in-touch-section .form-card {
        padding: 30px;
    }

    .subscribe-section .subscribe-card .send-email {
        flex-direction: column;
        gap: 20px;
    }

    .subscribe-section .subscribe-card .send-email .input-group {
        width: 100%;
    }

    .subscribe-section .subscribe-card .send-email {
        padding: 20px;
        border-radius: 20px;
    }

    .subscribe-section .subscribe-card {
        padding: 30px;
        border-radius: 20px;
    }

    .subscribe-section .subscribe-card .text h1 {
        text-align: center;
    }

    .subscribe-section .subscribe-card .send-email .btn-light {
        width: 100%;
    }

    .get-in-touch-section .form-card .form-control {
        min-height: 50px;
    }

    .news-section .news-card {
        height: 320px;
    }

    .news-section .news-card .card-layer {
        padding: 20px;
    }

    .subscribe-section .subscribe-card .text p {
        text-align: center;
    }

    .subscribe-section .subscribe-card .text h1 {
        font-size: 20px;
        line-height: normal;
    }

    .subscribe-section .subscribe-card .send-email .input-group .form-control {
        padding: 10px 0px 0px;
    }

    .footer .footer-content .f-logo {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .footer-content .social {
        justify-content: center;
        margin-bottom: 40px;
    }

    .footer .footer-content .f-nav .nav-link {
        text-align: center;
    }

    .footer .footer-content {
        padding: 40px 0px;
    }

    .footer-content .f-nav {
        margin-top: 0px;
    }

    .bottom {
        padding: 20px 0px;
    }

    .header .dropdown-menu {
        padding: 10px 5px 10px 15px;
    }

    .mega-menu .dropdown-menu .accordion .accordion-button {
        font-size: 14px;
    }

    .mega-menu .dropdown-menu .accordion-button::after {
        right: 0px !important;
    }

    .mega-menu .dropdown-menu .accordion .accordion-body {
        font-size: 12px;
        padding: 10px 0px;
    }

    .accordion-button::after {
        background-size: 14px 8px !important;
        width: 14px !important;
        height: 8px !important;
    }

    .breadcrumb h3 {
        font-size: 22px;
    }

    .blog-detail-section {
        padding: 20px 0px 40px;
    }

    .blog-detail-section .blog-content ul {
        margin-bottom: 35px;

        li p {
            margin-bottom: 15px;
        }
    }

    .subscribe-section .subscribe-card form .send-email {
        border-radius: 20px;
        padding: 22px;

        .input-group,
        .form-control {
            width: 100%;
        }

        .btn-light {
            width: 100%;
        }
    }
}